@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;500;600;800;900&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    transition: all 0.5s;
}
a {
    text-decoration: none;
    color: #2D2D2D;
}
a:hover {
    border-bottom: 2px solid #2D2D2D;
}
header {
    background-image: url(/sandy.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 100%;
}
nav.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    background-color: #fff;
}
nav .items {
    display: flex;
    align-items: center;
}
nav .items li {
    padding-left: 20px;
    list-style-type: none;
    font-size: 20px;
}
nav .search input {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #3D3D3D;
    outline: none;
    font-size: 16px;
}

nav .search i {
    position: absolute;
    top: 30px;
    left: 82%;
}

header .text {
    text-align: center;
    margin-top: 200px;
}
header .text h1 {
    color: #fff;
    font-size: 150px;
}
button {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #56B6DC;
}
button:hover {
    background: #37A9D6;
    cursor: pointer;
}